<html><head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="https://unpkg.com/vue@next"></script>
	</head>
	
	<body >
	<hr />
	<div id="main">
	<div v-if="UI=='main'"> 
		<h1>物流</h1>
		<table border=1>
			<tr><td>訂單編號</td><td>金額</td><td>狀態</td><td>處理訂單</td></tr>
			<tr v-for="product in dat">
				<td>{{product.oID}}</td>
				<td>{{product.sum}}</td>
				<td>{{product.status}}</td>
                <td v-if="product.status === '待確認'"><button @click="dealProduct(product.oID)">確認</button></td>
				</table>
	</div>
	</div>
	<script>
	const todoApp= Vue.createApp({
		data() {
			return {
				UI: 'main',
				dat: [],
				newproduct: {
					id: -1,
					name: '',
					price: '',
					stock: '',
					content: ''
				}
			}
		},
		methods: {
			loadList: function () {
				const that=this; //this  ==> stands for vm6. let's save `this` to `that`
				fetch('shoppingControl.php?act=listProductInfo')
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
					//we are inside the callback function, now `this` means the function, not vm6
					//we will use `that` to access vm6
	
					that.dat = myJson;
					//todoApp.dat = myJson;
				});
			},
			listcart: function () {
				const that=this; 
				fetch('shoppingControl.php?act=listCart')
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
	
	
					that.dat = myJson;
	
				});
				this.setUI('cart');
			},
			getProductDetail: function (id) {
				const that=this;
				
				let url="shoppingControl.php?act=getProductDetail&id="+id;
				fetch(url)
				.then(function(response) {
					return response.json();
				})
				.then(function(myJson) {
	
	
					that.dat = myJson;
	
				});
				this.setUI('detail');
			},
			back: function () {
				const that=this;
				that.setUI('main');
				that.loadList();
			},
            delProduct: function (id) {
				const that=this;
				console.log(id);
				let url="shoppingControl.php?act=delProduct&id="+id;
				fetch(url,{
					method: 'POST'
				})
				.then(function(res){return res.text(); }) //取得傳回值，轉為文字
				.then(function(data){
					that.setUI('main');
				    that.loadList();
				})
			},
            updateProduct: function () {
			const that=this;
			let mydat = new FormData();
                mydat.append( "dat", JSON.stringify(this.newproduct) );

                let url="shoppingControl.php?act=updateProduct";
                fetch(url,{
                    method: 'POST',
                    body: mydat // 將表單物件放入fetch的body屬性
                })
                .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                .then(function(data){ 
                    console.log(data);
                    that.setUI('main');
                    that.loadList();
                })
            },
            addProduct: function () {
			const that=this;
			let mydat = new FormData();
                mydat.append( "dat", JSON.stringify(this.newproduct) );

                let url="shoppingControl.php?act=addProduct";
                fetch(url,{
                    method: 'POST',
                    body: mydat // 將表單物件放入fetch的body屬性
                })
                .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                .then(function(data){ 
                    console.log(data);
                    that.setUI('main');
                    that.loadList();
                })
            },
			addJob: function () {
			const that=this;
			let mydat = new FormData();
                mydat.append( "dat", JSON.stringify(this.newproduct) );

                let url="shoppingControl.php?act=addPro";
                fetch(url,{
                    method: 'POST',
                    body: mydat // 將表單物件放入fetch的body屬性
                })
                .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                .then(function(data){ 
                    console.log(data);
                    that.setUI('main');
                    that.loadList();
                })
            },
            Cancel: function () {
                const that=this;			
                that.setUI('main');
                that.loadList();
            },
			listorder: function () { //列訂單
				const that=this; 
				fetch('shoppingControl.php?act=listAllorder')
				.then(function(response) {
					return response.json();
				})
                .then(function(myJson) {
                    that.dat = myJson;
                });
			},
			setEditUI: function(pID, name, price, stock, content) {
				this.newproduct.id = pID;
                this.newproduct.name = name;
                this.newproduct.price = price;
                this.newproduct.stock = stock;
                this.newproduct.content = content;
				this.setUI('editForm');
			},
            // 處理訂單
            dealProduct: function (oID) {
                const that=this;
                let url="shoppingControl.php?act=dealProduct&oID="+oID;
                fetch(url,{
                    method: 'POST',
                })
                .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                .then(function(data){ 
                    console.log(data);
                    that.listorder(that.uID);
                })
            },
            // 寄送訂單
            sendProduct: function (oID) {
                const that=this;
                let url="shoppingControl.php?act=sendProduct&oID="+oID;
                fetch(url,{
                    method: 'POST',
                })
                .then(function(res){return res.text(); }) //取得傳回值，轉為文字
                .then(function(data){ 
                    console.log(data);
                    that.listorder(that.uID);
                })
            },
			setAddUI: function() {
				this.newproduct={
					id: -1,
					name: '',
					price: '',
					stock: '',
					content: ''
				};
				this.setUI('addForm');
			},
			setUI: function(page) {
				this.UI=page;
			}
		},
		created() {
			this.listorder();
		}
	}).mount("#main");
	</script>
	</body></html>